.openai-messageblock-me {
  background-color: #d2f4d3;
  border-radius: 10px;
  color: #1b5d4a;
  margin-left: 45%;
  padding: 20px 12px 20px 10px;
}

.openai-message-block {
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-right: 45%;
  padding: 20px 12px 20px 10px;
}
